<div class="petal">
  <span></span>  <span></span>  <span></span>  <span></span>  <span></span>  <span></span>  <span></span>  <span></span>
  <span></span>  <span></span>  <span></span>  <span></span>  <span></span>  <span></span>  <span></span>  <span></span>
  <span></span>  <span></span>  <span></span>  <span></span>  <span></span>  <span></span>  <span></span>  <span></span>
</div>

<div class="main-div">
    <main class="px-4 text-center">
  <h1>Origami Shop</h1>
  <p class="lead description">You can find all things related to Origami and Japanese culture here! Origami, Origami Matireal, Figures, Books, Cards, and a lot more! Feel free to take a tour of our humble store!</p>
  <p class="lead ">
    <a routerLink="/products/" class="btn btn-lg btn-light btn-shop fw-bold border-wood shadow-sm">Shop Now</a>
  </p>
  <div class="lead mt-4">
    <div class="square-container d-flex flex-wrap">
        <img class="img-thumbnail shadow-lg p-3 mb-5 bg-body-tertiary rounded img-origami" src="..\..\..\assets\origami.avif">
        <img class="img-thumbnail shadow-lg p-3 mb-5 bg-body-tertiary rounded img-cherry" src="..\..\..\assets\cherry.webp">
        <img class="img-thumbnail shadow-lg p-3 mb-5 bg-body-tertiary rounded img-wave" src="..\..\..\assets\wave.webp">
    </div>
    </div>
</main>
</div>