/* Default styles for all screen sizes */
.mat-elevation-z8 {
    box-shadow: none;
    width: 100%; /* Ensure full width by default */
}

.btn {
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.05); /* Slightly enlarge the button */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow for a pop-up effect */
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .mat-elevation-z8 {
        width: 1100px;
    }
}

/* Large devices (desktops, 993px to 1200px) */
@media only screen and (min-width: 993px) and (max-width: 1199px) {

}

/* Medium devices (tablets, 768px to 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {

}

  /* Small devices (tablets and small phones, 576px to 768px) */
  @media only screen and (min-width: 577px) and (max-width: 768px) {
    .hide-on-small {
        display: none;
    }
}

  /* Extra small devices (small phones, 480px to 576px) */
  @media only screen and (min-width: 481px) and (max-width: 576px) {
    .hide-on-small {
        display: none;
    }
    .hide-on-smaller {
        display: none;
    }
    table, th, td, .btn, .mat-mdc-select-value, .modal, .card-text, label, .form-control, div  {
        font-size: 13.5px !important;
    }
}

  /* Very small devices (phones, 480px and below) */
  @media only screen and (max-width: 480px) {
    .hide-on-small {
        display: none;
    }
    .hide-on-smaller {
        display: none;
    }
    ::ng-deep .mdc-notched-outline {
        height: 90% !important;
        width: 90% !important;
    }
    table, th, td, .btn, .mat-mdc-select-value, .modal, .card-text, label, .form-control, div  {
        font-size: 13.5px !important;
    }
}

/* Extremely small devices (phones, 420px and down) */
@media only screen and (max-width: 420px) {
    .hide-on-small {
        display: none;
    }
    .hide-on-smaller {
        display: none;
    }
    .hide-on-smallest {
        display: none;
    }
    ::ng-deep .mat-mdc-paginator-range-label {
        margin: 0 !important;
    }
    ::ng-deep .mdc-notched-outline {
        height: 90% !important;
        width: 90% !important;
    }
}
