<div  [ngClass]="{'bg-div': currentRoute === '/'}">
<bs-navbar></bs-navbar>


  <main class="container" [ngClass]="{'min-h-100vh': currentRoute !== '/'}">
    <div *ngIf="isLoading" class="loading-screen d-flex">
      <div class="spinner-grow text-warning mb-1" role="status"></div>
      Loading...
    </div>
    <div *ngIf="!isLoading && isAuthDetermined">
      <router-outlet></router-outlet>
    </div>
  </main>

</div>


  <footer class="border-top bg-dark shadow" [ngClass]="{'fixed-bottom': currentRoute === '/'}">
    <div class="container d-flex flex-wrap justify-content-between align-items-center py-3 ">
    <div class="logo-copyright-container col-md-6 d-flex align-items-center">
      <a href="/" class="me-2 mb-md-0 text-body-white text-decoration-none lh-1">
        <img class="footer-logo" src="assets\origami-logo.png">
      </a>
      <span class="copy-right mb-md-0 text-body-white">© 2024 Origami Shop, Inc</span>
    </div>

    <ul class="icons-container col-md-6 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><div class="icons text-body-white icon-size"><i class="bi bi-twitter"></i></div></li>
      <li class="ms-3"><div class="icons text-body-white icon-size"><i class="bi bi-instagram"></i></div></li>
      <li class="ms-3"><div class="icons text-body-white icon-size"><i class="bi bi-facebook"></i></div></li>
    </ul>
  </div>
  </footer>

  <div class="fixed-top-left">
    <toast></toast>
  </div>
