
<div class="card text-center col-8 child-center shadow-sm">
    <div class="card-header">
      Order Success
    </div>
    <div class="card-body">
      <h5 class="card-title">Congrats! Your order is out for shipment!</h5>
      <p class="card-text">Thank you for shopping with us! your delivery will arrive within 24 hour! We’ve included a small gift too!</p>
      <div class="buttons-container d-flex justify-content-center">
        <a href="#" class="btn btn-dinosaur btn-home shadow-sm mx-1">Go to Homepage</a>
        <a href="/my/orders" class="btn btn-dinosaur btn-orders shadow-sm mx-1">View My Orders</a>
      </div>

    </div>
  </div>
