/* Default styles for all screen sizes */
.bg-white {
  border: 1px solid var(--success);
}
.sss, i.text-success {
  height: 20px;         
  line-height: 10px;  
  vertical-align: middle;
  display: inline-block;
}

/* Very small devices (phones, 480px and below) */
@media only screen and (max-width: 480px) {
  .bg-white {
    width: 100%;
  }
  .toast-div, i.text-success {
    height: auto;        
    margin-top: 5px;
  }
}

@media only screen and (max-width: 365px) {
  .toast-div, i.text-success {       
    margin-top: 0;
  }
}